.default__header,
.project__header {
  -moz-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  padding: 0px 50px;
  width: 100%;
  height: var(--nav-scroll-height);
  background-color: var(--nav);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  transform: translateY(0px);
  transition: var(--transition);
  &.default__header--hidden {
    transform: translateY(calc(var(--nav-scroll-height) * -1));
  }
  &.project__header--hidden {
    transform: translateY(calc(var(--nav-scroll-height) * -1));
  }
  nav {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    counter-reset: item 0;
    z-index: 12;
    .nav__logo__wrapper {
      .nav__logo {
        width: 45px;
        height: auto;
      }
    }
    .nav__menu__wrapper {
      display: none;
      @media (min-width: 768px) {
        display: flex;
      }
      align-items: center;
      ol {
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        list-style: outside none none;
        li {
          margin: 0px 5px;
          margin: 0px 5px;
          position: relative;
          counter-increment: item 1;
          a {
            color: var(--nav-links);
            font-size: 0.95rem;
            text-decoration: none;
            padding: 10px;
            transition: var(--transition);
            &:hover {
              color: var(--accent);
            }
            &::before {
              content: '0' counter(item) '.';
              margin-right: 5px;
              // color: var(--accent);
              text-align: right;
            }
          }
        }
      }
    }
    .mobile__menu__wrapper {
      display: block;
      @media (min-width: 768px) {
        display: none;
      }
      .mobile__menu__hamburger {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        z-index: 10;
        margin-right: -15px;
        padding: 15px;
        border: 0px;
        background-color: transparent;
        color: var(--accent);
        text-transform: none;
        transition-timing-function: linear;
        transition-duration: 0.15s;
        transition-property: opacity, filter;
        .mobile__menu__hamburger__box {
          display: inline-block;
          position: relative;
          width: 30px;
          height: 24px;
          .mobile__menu__hamburger__box__inner {
            position: absolute;
            top: 50%;
            right: 0px;
            width: 30px;
            height: 2px;
            border-radius: var(--border-radius);
            background-color: var(--accent);
            transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19)
              0s;
            transform: rotate(0deg);
            &.active {
              transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1)
                0.12s;
              transform: rotate(225deg);
            }
            &.inactive::before {
              width: 120%;
              opacity: 1;
              top: -10px;
              position: absolute;
              content: '';
              display: block;
              left: auto;
              right: 0px;
              height: 2px;
              border-radius: 4px;
              transition: var(--ham-before);
              background-color: var(--accent);
            }
            &.inactive::after {
              width: 80%;
              bottom: -10px;
              transform: rotate(0deg);
              position: absolute;
              content: '';
              display: block;
              left: auto;
              right: 0px;
              height: 2px;
              border-radius: 4px;
              background-color: var(--accent);
              transition: var(--ham-after);
            }
            &.active::before {
              width: 100%;
              opacity: 0;
              transition: var(--ham-before-active);
              top: -10px;
              position: absolute;
              content: '';
              display: block;
              left: auto;
              right: 0px;
              height: 2px;
              border-radius: 4px;
              background-color: var(--accent);
            }
            &.active::after {
              width: 100%;
              opacity: 1;
              bottom: 0px;
              content: '';
              display: block;
              position: absolute;
              left: auto;
              right: 0px;
              height: 2px;
              border-radius: 4px;
              background-color: var(--accent);
              transform: rotate(-90deg);
              transition: var(--ham-after-active);
            }
          }
        }
      }
      aside {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px 10px;
        width: min(75vw, 400px);
        height: 100vh;
        outline: 0px;
        background-color: var(--light-navy);
        box-shadow: -10px 0px 30px -15px var(--navy-shadow);
        z-index: 9;
        transform: translateX(100vw);
        visibility: hidden;
        transition: var(--transition);
        &.active {
          transform: translateX(0vw);
          visibility: visible;
        }
        nav {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;
          width: 100%;
          flex-direction: column;
          color: var(--lightest-slate);
          text-align: center;
          ol {
            padding: 0px;
            margin: 0px;
            list-style: none;
            width: 100%;
            li {
              margin: 0px auto 10px;
              counter-increment: item 1;
              font-size: clamp(var(--fz-sm), 4vw, var(--fz-xxl));
              &::before {
                content: '0' counter(item) '.';
                display: block;
                margin-bottom: 5px;
                color: var(--accent);
              }
              a {
                font-size: clamp(var(--fz-sm), 4vw, var(--fz-xxl));
                display: inline-block;
                text-decoration: none;
                text-decoration-skip-ink: auto;
                color: inherit;
                position: relative;
                transition: var(--transition);
                width: 100%;
                padding: 3px 20px 20px;
              }
            }
          }
          a {
            font-size: clamp(var(--fz-sm), 4vw, var(--fz-lg));
          }
        }
      }
    }
  }
}

.default__footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  background-color: var(--bg);
  p {
    margin-bottom: 0;
  }
}

.project__footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--bg);
  text-align: center;
  p {
    margin-bottom: 0;
  }
}
