.light__theme {
  .section__projects {
    .projects__grid {
      .project__wrapper {
        .project__inner {
          background-color: var(--feature-bg);
          box-shadow: 0 10px 30px -15px var(--feature-bg);
          footer {
            .project__stack {
              li {
                color: var(--slate);
              }
            }
          }
          &.project__inner--production {
            &:hover {
              background-color: inherit;
            }
          }
        }
      }
    }
  }
  .project {
    .project__mobile__grid {
      background-color: var(--feature-bg);
    }
    .project__hero__desktop {
      background-color: var(--feature-bg);
    }
  }
}

.dark__theme {
  .section__projects {
    .projects__grid {
      .project__wrapper {
        .project__inner {
          background-color: var(--feature-bg);
          box-shadow: 0 10px 30px -15px var(--navy-shadow);
          &.project__inner--production {
            &:hover {
              background-color: inherit;
            }
          }
        }
      }
    }
  }
  .project {
    .project__mobile__grid {
      background-color: var(--light-navy);
    }
    .project__hero__desktop {
      background-color: var(--light-navy);
    }
  }
}
